/* =======  Global  ======== */

body {
    font-family: 'Baskerville Old Face', serif;
    font-size: 1.65em;
    background: -webkit-linear-gradient(black, grey, black);
    background: -moz-linear-gradient(black, grey, black);
    background: -o-linear-gradient(black, grey, black);
    background: linear-gradient(black, grey, black);
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

hr {
    border: 2px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.00));
}

section {
    padding: 2.5rem;
}


/* =======  End Global  ======== */


/* ========  NavBar  ======== */

.facebook {
    color: #3b5998;
}

#phone {
    color: rgb(219, 27, 27)
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.navbar-brand img {
    padding: 2px 0 0 0;
}

.navbar-right {
    margin: 5px 15px;
}

#collapse {
    color: white;
}


/* ========  End NavBar  ======== */


/* ========= Home  ========= */

#homewrapper {
    background: #C25E01;
}

#home {
    height: 350px;
    color: rgb(255, 255, 255);
    background: url('Images/maabtkdBackground.png') no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin: 0 0 10px 0;
}

#hometext {
    -webkit-font-smoothing: antialiased;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0px #000000;
}

#hometext h1 {
    padding: 5px 0 5px 0;
    font-size: 3rem;
}

#hometext p {
    font-size: 2rem;
}


/* =======  End Jumbotron Home  ======== */


/* =======  Section About  ======= */

.panel {
    background: black;
    color: white;
    font-weight: bolder;
}

.about {
    padding: 9% 0;
    color: white;
    background: -webkit-linear-gradient(black, grey, black);
    background: -moz-linear-gradient(black, grey, black);
    background: -o-linear-gradient(black, grey, black);
    background: linear-gradient(black, grey, black);
}

#training {
    padding: 15px 15px 37px 15px;
}


/* =======  End About  ======= */


/* ========  Instructors  ======= */

#eve em {
    color: rgba(255, 252, 0, 0.65);
}

#instructorInfo {
    min-height: 350px;
    text-align: center;
    color: red;
    background: -webkit-linear-gradient(black, grey, black);
    background: -moz-linear-gradient(black, grey, black);
    background: -o-linear-gradient(black, grey, black);
    background: linear-gradient(black, grey, black);
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#instructorInfo h1 {
    margin: 4px 0 0 0;
}

#instructorInfo small {
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#instructorInfo p {
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.instructorpic {
    display: table;
    margin: 0 auto;
}


/* ========  End Instructors  ======= */


/* =======  Taekwondo/Judo  ======= */

.tkd {
    color: black;
    background: -webkit-linear-gradient(white, grey);
}

@media only screen and (orientation: portrait) {
    .tkd h1,
    .judo h1 {
        font-size: 1.25em;
        font-weight: bolder;
    }
}

.tkd h1 {
    font-weight: bolder;
}

.judo {
    color: white;
    background: -webkit-linear-gradient(grey, black);
}

.tkd img {
    display: table;
    margin: 0 auto;
}

.judo img {
    display: table;
    margin: 0 auto;
}


/* =======   End Taekwondo/Judo  ======= */


/* ========  Schedule  ======== */

#schedule {
    color: black;
    font-weight: bolder;
}

#schedule th {
    background: black;
}

#schedule h1,
thead {
    color: white;
}

#schedule th,
tr {
    border: 2px solid black;
    text-align: center;
}

#schedule hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.00), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.00));
}


/* ========  End Schedule  ======== */


/* =======  Footer  ======== */

footer {
    background: #656363;
    color: #DA700A;
}

footer i,
footer p,
footer a {
    color: white;
    text-align: center;
}