/* =======  Global  ======== */

body {
    font-family: 'Baskerville Old Face', serif;
    font-size: 1.65em;
    background: -webkit-linear-gradient(black, grey, black);
    background: -moz-linear-gradient(black, grey, black);
    background: -o-linear-gradient(black, grey, black);
    background: linear-gradient(black, grey, black);
    padding-top: 65px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

hr {
    border: 2px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.00));
}

section {
    padding: 2.5rem;
}

/* =======  End Global  ======== */

/* ========  NavBar  ======== */

.facebook {
    color: #3b5998;
}

#phone {
    color: rgb(219, 27, 27)
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.navbar-brand {
    padding: 11px 15px;
}

.navbar-right {
    margin: 5px 15px;
}

#collapse {
    color: white;
}

/* ========  End NavBar  ======== */

/* ========= Home  ========= */

#homewrapper {
    background: #C25E01;
}

#home {
    height: 350px;
    color: rgb(255, 255, 255);
    background: url('Images/newBackground.png') no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin: 10px 0 15px 0;
}

#hometext {
    -webkit-font-smoothing: antialiased;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0px #000000;
}

#hometext h1 {
    padding: 65px 0 10px 0;
    font-size: 3rem;
}

#hometext p {
    font-size: 2rem;
}

/* =======  End Jumbotron Home  ======== */

/* =======  Section About  ======= */

.col-container {
    background: black;
    color: white;
    font-weight: bolder;
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 16px;
    border: 1px solid #1d1dc9;
    border-radius: 4px;
}

@media only screen and (max-width: 767px) {
    .col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }
}

.about {
    padding: 9% 0;
    color: white;
    background: -webkit-linear-gradient(black, grey, black);
    background: -moz-linear-gradient(black, grey, black);
    background: -o-linear-gradient(black, grey, black);
    background: linear-gradient(black, grey, black);
}

/* 
#training {
    padding: 0 15px 0 15px;
} */

/* =======  End About  ======= */

/* ========  Instructors  ======= */

#eve em {
    color: rgba(255, 252, 0, 0.65);
}

#instructorInfo {
    min-height: 350px;
    text-align: center;
    color: red;
    background: -webkit-linear-gradient(black, grey, black);
    background: -moz-linear-gradient(black, grey, black);
    background: -o-linear-gradient(black, grey, black);
    background: linear-gradient(black, grey, black);
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#instructorInfo h1 {
    margin: 4px 0 0 0;
}

#instructorInfo small {
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#instructorInfo p {
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.instructorpic {
    display: table;
    margin: 0 auto;
}

/* ========  End Instructors  ======= */

/* =======  Taekwondo/Judo  ======= */

.tkd {
    color: black;
    background: -webkit-linear-gradient(white, grey);
}

@media only screen and (orientation: portrait) {
    .tkd h1,
    .judo h1 {
        font-size: 1.25em;
        font-weight: bolder;
    }
}

.tkd h1 {
    font-weight: bolder;
}

.judo {
    color: white;
    background: -webkit-linear-gradient(grey, black);
}

.tkd img {
    display: table;
    margin: 0 auto;
}

.judo img {
    display: table;
    margin: 0 auto;
}

/* =======   End Taekwondo/Judo  ======= */

/* ========  Schedule  ======== */

#schedule {
    color: black;
    font-weight: bolder;
}

#schedule th {
    background: black;
}

#schedule h1,
thead {
    color: white;
}

#schedule th,
tr {
    border: 2px solid black;
    text-align: center;
}

#schedule hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.00), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.00));
}

/* ========  End Schedule  ======== */

/* Section Login */

.login {
    color: #C25E01;
    text-align: center;
    text-shadow: -.05em -.05em .2em rgb(0, 0, 0);
}

.login h4 {
    color: white;
}

.loginForm {
    max-width: 350px;
    height: auto;
    background: rgb(78, 75, 75);
    margin: 0 auto;
    border-radius: 5%;
}

input[type='password'] {
    margin: 15px;
}

button[type="submit"] {
    margin-bottom: 15px;
}

/* End Section Login */

/* =======  Footer  ======== */

footer {
    background: #000000;
    color: #DA700A;
    padding-top: 10px;
}

footer i,
footer p,
footer a {
    color: white;
    text-align: center;
}