body {
    font-family: 'Baskerville Old Face', serif;
    font-size: 1.65em;
    padding-top: 70px;
    background: url(Images/underConstruction.svg) no-repeat center fixed;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

hr {
    border: 2px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.00));
}

section {
    padding: 2.5rem;
}


/* =======  End Global  ======== */


/* ========  NavBar  ======== */

.facebook {
    color: #3b5998;
}

#phone {
    color: rgb(219, 27, 27)
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.navbar-brand img {
    padding: 2px 0 0 0;
}

.navbar-right {
    margin: 5px 15px;
}

#collapse {
    color: white;
}


/* ========  End NavBar  ======== */


/* Section Login */

.login {
    color: #C25E01;
    text-align: center;
    text-shadow: -.05em -.05em .2em rgb(0, 0, 0);
    margin-bottom: 15%;
}

.login h4 {
    color: white;
}

.loginForm {
    max-width: 350px;
    height: auto;
    background: rgb(78, 75, 75);
    margin: 0 auto;
    border-radius: 5%;
}

input[type='password'] {
    margin: 15px;
}

button[type="submit"] {
    margin-bottom: 15px;
}


/* End Section Login */


/* =======  Footer  ======== */

footer {
    background: #000000;
    color: #DA700A;
    bottom: 0;
}

footer i,
footer p,
footer a {
    color: white;
    text-align: center;
}